{% extends '_templates/base.njk' %}

{% block page_title %}City of Austin's Log{% endblock %}

{% block content %}
<div class="container">
  <h1>Austin's life is for me</h1>
  <p>Visit the top landmarks at the city of Austin.</p>
<div class="row row-cols-2">
  {% for landmark in austin.landmarks %}
  <div class="col-sm-6">
    <div class="card text-dark bg-light mb-3">
      <img src="img/landmarks/{{ landmark.image }} " class="card-img-top" alt="landmark photo">
      <div class="card-body">
        <h5 class="card-title">{{ landmark.name }}</h5>
        <p class="card-text">{{ landmark.location }}</p>
        <a href="blog/{{ landmark.slug }}.html" class="btn btn-outline-secondary">Keep Reading</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
    </div>
  </div>
</div>
{% endblock %}