{% extends '_templates/base.njk' %}

{% block page_title %}City of Austin's Log{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Austin's life is for me</h1>
      <p>Reprehenderit excepturi voluptatibus deleniti quidem placeat sunt ad libero qui itaque eius explicabo.</p>
    </div>
  </div>
</div>
{% endblock %}