{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Austin Artworks</h1>
  <p>Take a look at the murals spread across Austin!</p>
  <h3>Locations of murals</h3>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">I Love You So Much</li>
    <li class="list-group-item">Greetings from Austin</li>
    <li class="list-group-item">Smile! Even if you don't want to</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">Before I Die</li>
    <li class="list-group-item">Love From Austin</li>
    <li class="list-group-item">Willie Nelson For President</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">You Make My Heart Sing</li>
    <li class="list-group-item">Howdy Austin</li>
    <li class="list-group-item">Til Death Do Us Part</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">How You Doin'?</li>
    <li class="list-group-item">You're My Butter Half</li>
    <li class="list-group-item">Austin, Texas</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">Hello!</li>
    <li class="list-group-item">Colorful yellow and pink wall</li>
    <li class="list-group-item">Hi, How Are You (Jeremiah The Innocent)</li>
  </ul>
    <p><iframe src="//batchgeo.com/map/e8315e7a98a08f423269d1fa84ea6d31" frameborder="0" width="100%" height="550" sandbox="allow-top-navigation allow-scripts allow-popups allow-same-origin allow-modals allow-forms" style="border:1px solid #aaa;"></iframe></p><p><small>View <a href="https://batchgeo.com/map/e8315e7a98a08f423269d1fa84ea6d31">Austin</a> in a full screen map</small></p>
</article>
{% endblock %}