{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1>Austin Eats</h1>
  <p>Take a look at the top restaurants!</p>
<div class="row">
  {% for restaurant in restaurant.restaurants %}
  <div class="col-sm-6">
    <div class="card text-dark bg-light mb-3">
      <img src="img/restaurants/{{ restaurant.image }}" class="card-img-top" alt="restaurant photo">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.name }}</h5>
        <p class="card-text">{{ restaurant.address }}</p>
        <p class="card-text">{{ restaurant.category }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</article>
{% endblock %}