h1, p {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.card {
  margin: 0 auto;
  margin-bottom: 10px;
  float: none;
}

.card-text {
  text-align: left;
}

body {
  background-color: lightcyan;
}