#jumbo {
  background: url(../img/cmc-austin-dawn-20200614.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 12rem
}

#jumbo {
  margin-bottom: 30px;

h1, p {
  font-family: 'Libre Bodoni', serif;
}
}